<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          Demande d'investissement
          <span class="pull-right"><%= @deal.full_address if @deal.full_address %></span>
        </div>

        <div class="panel-body">
          <div class="container" style="width: 80%;">

            <%= form_for ([deal, investment]) do |f| %>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <div class="form-group niagara">
                    <label>Nominal share price</label>
                    <%= f.text_field :price, :value => investment.price, :readonly => true, :class => "form-control" %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <div class="form-group niagara">
                    <label>Number of Shares to buy </label>
                    <%= f.number_field :shares, min: 1, max: deal.available_shares, step: 1, :class => "form-control" %>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <%= f.submit "Make a pledge", class: "btn btn-form" %>
              </div>

            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


