<header>
  <h2>Tenants in the specific deal</h2>
  <ul id="tenants of the specific deal">
  <% @deal.tenants.each do |tenant| %>
  <li>Tenant id #<%= tenant.id %> - <%= link_to tenant.last_name, [@deal, tenant] %></li>
  <li><%= link_to "Back to Deal", deal_path(tenant.deal) %></li>
  <% if policy(tenant).edit? %>
  <li><%= link_to "Edit Tenant", edit_deal_tenant_path(tenant.deal, tenant) %></li>
  <% end %>
  <% if policy(tenant).destroy? %>
  <li><%= link_to "Delete Tenant", deal_tenant_path(tenant.deal, tenant), method: :delete, data: { confirm: "Are you sure you want to delete this tenant?"} %></li>
  <% end %>
  <br>
  <% end %>
  </ul>
  <ul class="actions">
    <% if policy(@tenants).new? %>
    <li><%= link_to "Add Tenant", new_deal_tenant_path(@deal),
      class: "new" %></li>
    <% end %>
    <li><%= link_to "Back to deals", deals_path%></li>
  </ul>
</header>


