<div class="row" id="overview">
  <div class="col-sm-12 text-justify">
    <h2>Vendre un bien en Viager ne devrait pas être compliqué.</h2>
    <p>Vous souhaitez extraire une partie de la valeur de votre propriété tout en restant chez vous ? Le viager est une solution pour vous ! Livsty répond à votre demande tout en vous évitant les déboires et les risques d'une vente en viager classique.</p>
    <p>Chez Livsty, nous avons choisi de démocratiser le viager sans rente participatif pour vous éviter tous les inconvénients du viager classique et vous permettre de mieux profiter plus rapidement de votre capital.</p>
  </div>
  <div class="col-sm-12">
    <h2 class="text-center">Comment est établie notre offre ?</h2><br><br>

    <div class="livsty-seller-formula">
    <div class="floating-box">
      <%= image_tag "seller64.png", alt: "Besoins" %>
      <p class="livsty-seller-formula-img-caption">Votre Projet</p>
    </div>
    <div class="floating-box">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="floating-box">
      <%= image_tag "house-plans64.png", alt: "Caractéristiques" %>
      <p class="livsty-seller-formula-img-caption">Descriptif du Bien</p>
    </div>
    <div class="floating-box">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="floating-box">
      <%= image_tag "tools64.png", alt: "Etat" %>
      <p class="livsty-seller-formula-img-caption">Etat du bien</p>
    </div>
    <div class="floating-box">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="floating-box">
      <%= image_tag "analytics64.png", alt: "Evolution" %>
      <p class="livsty-seller-formula-img-caption">Tendance du Marché</p>
    </div>
    <div class="floating-box">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="floating-box">
      <%= image_tag "map64.png", alt: "Localisation" %>
      <p class="livsty-seller-formula-img-caption">Géographie et comparables</p>
    </div>
    </div>


    <div class="col-sm-6 col-sm-offset-3 text-center"> <!-- /input-group -->
      <div class="input-group" style="width:100%">
        <!-- <input type="text" class="form-control" placeholder="Entrez votre adresse..." disabled>-->
        <a class=""  data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample"><h2 class="btn btn-invest">Expliquez-nous votre projet</h2></a>
        <div class="collapse" id="collapseExample2">
          <div class="blueback" >
            Contactez-nous au 01 75 85 84 24
            ou par email : <a href="mailto:contact@livsty.fr" style="text-decoration:none" alt="Contact Pour Vendre en Viager">contact@livsty.fr</a>
          </div>
        </div>
      </div>
    </div>
  <!--</div>
  <div class="col-sm-12">
    <ul class="nav navbar-nav pull-right">
      <li><a class="btn btn-form" type="">Expliquez nous votre Projet et Demandez à être contacté par Livsty</a></li>
    </ul>
  </div>-->
</div>
