<!-- <div class="navbar-avatar-item">
  <div class="dropdown"> -->
    <a href="#" class="dropdown-toggle navbar-avatar-item" data-toggle="dropdown" data-id="">
      <i class="fa fa-info" aria-hidden="true"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right navbar-avatar-dropdown-menu" style="margin-top: 18px;">
      <!--<li><%= link_to "NOUS CONNAITRE", contact_path, data:{id:""}, alt:"Nous Contacter" %></li>-->


      <li><%= link_to faq_path do %>
        <i class="fa fa-question-circle"></i> <%= t(".faq", default: "Q&A") %>
        <% end %>
      </li>
      <li><%= link_to contact_path do %>
        <i class="fa fa-at"></i> <%= t(".contact", default: "Nous contacter") %>
        <% end %>
      </li>
    </ul>
<!--   </div>
</div> -->
