<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2>Location</h2>
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@property.full_address}" %>
    </div>
    <div class="media-section">
      <h2>Description</h2>
      <ul>
      <li><%= @property.deal.description %></li>
      <li><%= @property.deal.occupancy %> in <%= @property.deal.address %>  </li>
      </ul>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Rooms</h2>
      <ul>
      <li><%= @property.nb_rooms %> rooms</li>
      <li><%= @property.nb_bedrooms %> bedrooms</li>
      </ul>
    </div>
    <div class="media-section">
      <h2>Snapshot</h2>
      <%= @property.deal.kind %>
    </div>
  </div>
</div>

<ul>
<li><%= link_to "back to main page", root_path %></li>
<li><%= link_to "back to deals", deals_path %> </li>
</ul>

