<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= deal.image_url %>');">
  <div class="card-category"><%= deal.occupancy %></div>
  <div class="card-description">
    <h2><%= deal.address %></h2>
    <p><%= deal.kind %></p>
    <p><%= deal.yield %> % </p>
    <li><%= link_to "edit deal", edit_deal_path(deal) %></li>
    <li><%= link_to "remove deal", deal_path(deal), method: :delete, data: {confirm: "are you sure?"} %></li>
  </div>
  <%= link_to "", deal_path(deal), class: "card-link" %>
</div>

