<div class="banner-home">
  <div class="video-container">
    <video autoplay loop poster="<%= image_path 'ParisMontparnasse.jpg' %>" id="bgvid">
      <source src="http://res.cloudinary.com/dqoj6yz5k/video/upload/v1485179934/The-Boulevard_cwhv8w.mp4" type="video/mp4">
    </video>
  </div>
  <div class="banner-home-content">
    <h1 class= "slideDown"><%= t('.welcome') %> <%= current_user.full_name %></h1>
    <p class= "slideDown"><%= t('.currently-connected') %> <%= current_user.email %> </p>
    <p class= "slideDown"><%= t('.enjoy-offers') %> </p>
    <%= link_to "", id: "click-to-scroll" do %>
    <i class="fa fa-angle-down floating"></i>
    <% end %>
  </div>
</div>





