<div class="row" id="about">
  <div class="col-sm-12">
    <div class="text-center">
      <hr class="team_hr team_hr_left hr_gray">
      <h2>Construire son portefeuille</h2>
      <hr class="team_hr team_hr_right hr_gray">
    </div>
    <blockquote>
      <p><em>"In choosing a portfolio, investors should seek broad diversification ...".</em></p>
      <footer>Harry Markovitz, Prix Nobel d'Economie 1990. <cite title="Source Title"></cite></footer>
    </blockquote>
     <p>La diversification est au coeur de toute bonne gestion d'actifs. Sur Livsty, vous êtes libres de répartir votre capital sur les biens qui vous intéressent. Chaque projet est indépendant et possède ses propres caractéristiques. Vous pouvez ainsi vous construire un portefeuille immobilier sur-mesure pour répondre à vos critères.</p>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag "Set-Round_1/Set-Round_-08.png", alt: "France", class: "hidden-xs img-rounded logo-full-about" %>
      <%= image_tag "france64.png", alt: "France", class: "visible-xs img-rounded" %>
      <div class="caption" style="text-align: justify">
        <p>Des Investissements disponibles dans toute la France. Chaque projet possède ses propres caractéristiques et un profil rendement-risque spécifique.</p>
        <p>Les biens disponibles sont essentiellement des appartements en immeubles collectifs situés dans des zones urbaines majeures dont le marché immobilier est liquide et profond (Ile de France, Grand Lyon, Côte d’Azur...).</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag "Set-Round_1/Set-Round_-10.png", alt: "Graphique", class: "hidden-xs img-rounded logo-full-about" %>
      <%= image_tag "business-chart64.png", alt: "Graphique", class: "visible-xs img-rounded" %>
      <div class="caption" style="text-align: justify">
        <p>La possibilité d’investir dans plusieurs projets permet de construire un portefeuille et de répartir le risque de façon optimale tout en profitant de l'amortissement progressif de la décote à l'acquisition du bien.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <%= image_tag "Set-Round_1/Set-Round_-06.png", alt: "Barrière", class: "hidden-xs img-rounded logo-full-about" %>
      <%= image_tag "fence64.png", alt: "Barrière", class: "visible-xs img-rounded"%>
      <div class="caption" style="text-align: justify">
        <p>Chaque projet est <strong>ségrégué</strong> et <strong>séparé</strong> du bilan de Livsty. Ainsi, la performance de chaque investissement est indépendante de celle des autres et protégée en cas de défaillance de Livsty. Dans l'hypothèse où Livsty ne serait plus en capacité de répondre à ses obligations, un nouveau gestionnaire serait désigné pour poursuivre d'administrer les investissements.</p>
      </div>
    </div>
  </div>
</div>
