<div class="banner-homepage img-responsive" alt="Responsive image banner home" style="background-image: linear-gradient(-225deg, rgba(132,87,6,0.3) 0%, rgba(53,36,61,0.6) 50%), url('<%= image_path "ParisMontparnasse.jpg" %>');">
  <div class="container no-padding text-overlay">
    <div class="row">
      <div class="col-xs-12 margin-bottom turquoise" style="text-align: left">
        <h1 class="display-title"><%= t('.livsty-think-differently_html') %></h1>
        <p align="justify"><%= t('.livsty-mission') %>.</p>
        <p align="justify"><%= t('.livsty-online') %>.</p>
        <p align="justify"><%= t('.livsty-Paris') %>.</p>
      </div>
      <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5" >
        <small>
          <%= link_to t('.see-deals'), deals_path , class:"btn btn-invest hidden-xs width-auto"%>
          <small><%= link_to t('.the-deals'), deals_path , class:"btn btn-invest visible-xs width-auto"%></small>
        </small>
      </div>
      <div class="col-xs-12 text-center turquoise">
        <div class="col-xs-4 padded text-center"">
          <%= image_tag "lightbulbEuro128.png", class:"logo-up", alt: "Investir Innovant" %>
          <div class="greyback">
            <h3 class="display-subtitle">Une nouvelle façon d'investir</h3>
          </div>
        </div>
        <div class="col-xs-4 padded text-center">
          <%= image_tag "line-up128.png", class:"logo-up", alt: "Graphique Croissant" %>
          <div class="greyback">
            <h3 class="display-subtitle">Une épargne qui fructifie</h3>
          </div>
        </div>
        <div class="col-xs-4 padded text-center">
          <%= image_tag "security128.png", class:"logo-up", alt: "Protégé" %>
          <div class="greyback">
            <h3 class="display-subtitle">La solidité de la pierre</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "#overview", id: "click-to-scroll" do %>
    <i class="fa fa-angle-down floating"></i>
  <% end %>
</div>
