<div class="banner-homepage img-responsive" alt="Responsive image banner home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "Paris1.jpg" %>');">
  <div class="container no-padding text-overlay">
    <div class="row">
      <div class="col-xs-12" style="text-align: left">
        <h1 class="display-title"><span class="nowwrap">L'Investissement <span class="greened">Immobilier </span> Autrement !</span></h1>
        <p>Rejoignez Livsty, la plateforme qui révolutionne l'investissement immobilier. Quand l'investissement se veut solidaire: Livsty repense la façon d'investir dans un bien occupé et d'accompagner les séniors dans leurs besoins.</p>
        <p>Notre mission: rendre accessible à tous une stratégie d'épargne d'avenir qui allie respect des personnes, gestion du patrimoine et optimisation des revenus.</p>
        <p>Basée à Paris, Livsty est une plateforme en ligne d'investissement dans l'immobilier.</p>
      </div>
      <div class="col-xs-12 text-center turquoise">
        <div class="col-xs-4 padded text-center"">
          <%= image_tag "lightbulbEuro128.png", class:"logo-up", alt: "Investir Innovant" %>
          <div class="greyback">
            <h3 class="display-subtitle">Une nouvelle façon d'investir</h3>
          </div>
        </div>
        <div class="col-xs-4 padded text-center">
          <%= image_tag "line-up128.png", class:"logo-up", alt: "Graphique Croissant" %>
          <div class="greyback">
            <h3 class="display-subtitle">Je&nbsp;fais&nbsp;fructifier mon&nbsp;épargne</h3>
          </div>
        </div>
        <div class="col-xs-4 padded text-center">
          <%= image_tag "security128.png", class:"logo-up", alt: "Protégé" %>
          <div class="greyback">
            <h3 class="display-subtitle">La pierre-papier robuste</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "", id: "click-to-scroll" do %>
    <i class="fa fa-angle-down floating"></i>
  <% end %>
</div>

