<div class="row" id="Expertise">
  <div class="text-center">
    <hr class="team_hr team_hr_left hr_gray">
    <h2><%=t '.concept-title' %></h2>
    <hr class="team_hr team_hr_right hr_gray">
  </div>
  <div class="col-sm-3 text-center bubble">
    <%= image_tag "Set-Round_1/Set-Round_-11.png", class: "logo-full-expertise", alt: "Ensemble" %>
    <h4><%=t '.concept-bubble-1' %></h4>
  </div>
  <div class="col-sm-3  text-center bubble">
    <%= image_tag "Set-Round_1/Set-Round_-10.png", class: "logo-full-expertise", alt: "Simple" %>
    <h4><%=t '.concept-bubble-2' %></h4>
  </div>
  <div class="col-sm-3 text-center bubble" >
    <%= image_tag "Set-Round_1/Set-Round_-14.png", class: "logo-full-expertise", alt: "Confiance" %>
    <h4><%=t '.concept-bubble-3' %></h4>
  </div>
  <div class="col-sm-3 text-center bubble" >
    <%= image_tag "Set-Round_1/Set-Round_-07.png", class: "logo-full-expertise", alt: "Direct" %>
    <h4><%=t '.concept-bubble-4' %></h4>
  </div>
</div>
