<tr id="investment_<%= investment.id %>">
  <td>
    <%= link_to fa_icon('pencil'), edit_admin_investment_path(investment), remote: true, data: { toggle: "modal", target: "#investmentedit_#{investment.id}" } %>
    <%= link_to fa_icon('trash'), admin_investment_path(investment), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  </td>
  <td><%= link_to investment.id, [:admin, investment] %></td>
  <td><%= investment.deal.street %></td>
  <td><%= investment.shares %>x</td>
  <td><%= investment.pledge_amount %>€</td>
  <td><%= investment.created_at.strftime('%d-%m-%y %H:%M') %></td>
  <td><%= investment.user.full_name %></td>
  <td><strong>Status: </strong><span id="current-status_<%= investment.id %>"><%= investment.status %> <%= "at #{investment.updated_at.strftime('%d-%m-%y %H:%M')}" if investment.status == 'approved' %></td>
  <td>
    <% if investment.status != 'approved' %>
      <%= link_to 'Validate', validate_admin_investment_path(investment), method: :patch, class: "btn btn-warning", id: "validate-button_#{investment.id}", remote: true, data: {disable_with: "Validating..."}  %>
    <% else %>
      <button type="button" class="btn btn-success">Approved</button>
    <% end %>
  </td>
</tr>

<div class="modal fade" id="investmentedit_<%= investment.id %>">
  <%= form_for [:admin, investment], :method => :put, remote: true do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Investment</h4>
      </div>
      <div class="modal-body">
        <div class="field">
          <%= f.label :price %><br>
          <%= f.text_field :price, :value => investment.price, :readonly => true, :class => "form-control" %>
        </div>
        <div class="field">
          <%= f.label :shares %>
          <%= f.number_field :shares, :value => investment.shares, min: 1, max: investment.deal.available_shares, step: 1, :class => "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="#investmentedit_<%= investment.id %>" class="btn btn-form" data-dismiss="modal">Close</button>
        <%= submit_tag "Modify", class: 'btn btn-form' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
