// alert("Status changed to 'approved'");
$('#current-status_<%= @investment.id %>').text("status <%= @investment.status %> at <%= @investment.updated_at.strftime('%d-%m-%y %H:%M') %>");
// $('#validate-button_<%= @investment.id %>').removeClass('btn btn-form').addClass('btn btn-success').text('Approved');
new_button = "<button type='button' class='btn btn-success'>Approved</button>"
$('#validate-button_<%= @investment.id %>').replaceWith(new_button)
