<!-- Different nav -->
<!-- <-% content_for :nav, render('shared/navbar-flex-bootstrap') %-> -->
<!-- Different banner if login or not -->
<% if user_signed_in? %>
<%= render "shared/video-banner" %>
<% else %>
<%= render "home/banner-investor" %>
<% end %>

<div class="container">
<a name="top"></a>

  <%= render "home/overview" %>
  <%= render "home/services" %>
  <%= render "home/expertise" %>
  <%= render "home/about" %>
  <%= render "home/transaction" %>

  <!-- <-%= render "shared/contact" %->
  <-%= render "shared/legals" %-> -->
</div>

<%= content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#click-to-scroll").on("click", function( e ) {
        e.preventDefault();
        $('html, body').animate({scrollTop: $("#").offset().top-69}, 800);
      });
    });
  <% end %>
<% end %>
