<%= render "seller/banner-seller" %>
<div class="container">
  <%= render "seller/overview" %>
  <%= render "seller/services" %>
  <%= render "seller/expertise" %>
  <%= render "seller/transaction" %>
  <%= render "shared/contact" %>
  <%= render "shared/legals" %>
</div>


