<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h2 class="text-center">Sign up</h2>
      <br/>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'partials/authentication/message' %>

        <div class="form-group">
          <%= f.text_field :first_name, autofocus: true, placeholder: "Full Name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.country_select :country_of_residence, selected: "FR", only: ["FR", "GB"], include_blank: 'Country of residence', autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
          <em><%= ("#{@minimum_password_length} characters minimum and at least one lowercase letter, one uppercase letter, and one digit" if @minimum_password_length) %></em>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.button "Sign up", class: "btn btn-normal btn-block", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Signing up..."} %>
        </div>
      <% end %>

      <hr/>
    </div>
  </div>
</div>

