<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h2 class="text-center"><%= t('.sign_up') %></h2>
      <br/>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'partials/authentication/message' %>

        <div class="form-group">
          <%= f.text_field :first_name, autofocus: true, placeholder: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :last_name, autofocus: true, placeholder: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.country_select :country_of_residence, selected: "FR", only: ["FR", "GB"], include_blank: "#{t('.country_of_residence')}", autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: true, class: "form-control" %>
          <em>(<%= t'.password_complexity', minimum_password_length: @minimum_password_length if @minimum_password_length %>)</em>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: true, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.button t('.sign_up'), class: "btn btn-normal btn-block", data: {disable_with: t('.signing_up_html')} %>
        </div>
      <% end %>

      <hr/>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.I18n = <%= current_translations.to_json.html_safe %>
</script>
