<div class="container">
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-4 ">
      <div class="left-bar">
        <div class="left-bar-content text-center">
          <%= image_tag("reload64.png", alt: "Investir", class:"visible-xs") %>
          <%= image_tag("reload128.png", alt: "Investir", class:"hidden-xs img-rounded") %>
          <h4><%= t('.choose-your-password') %></h4>
        </div>
      </div>
    </div>
    <div class="hidden-xs hidden-sm  col-md-1">
    </div>
    <div class="col-sm-12 col-sm-10 col-md-6">
      <h1 class="display-1 text-center"><%= t('.connexion') %></h1>
      <h4 class="display-4 text-muted text-center"> <%= t('.existing-user') %> - <small><%= link_to t(".forgot_your_password"), new_user_password_path %></small></h4>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'partials/authentication/message' %>
        <%= f.hidden_field :reset_password_token %>

        <div class="col-md-12">
          <%= f.password_field :password, :class => 'form-control livsty margin-bottom', :placeholder=>"#{t('.new_password')}" %>
          <%= f.password_field :password_confirmation, :class => "form-control livsty margin-bottom", :placeholder=>"#{t('.confirm_new_password')}" %>
          <small id="passwordHelpBlock" class="form-text text-muted">
            <%= t('.password_complexity_html') %>
          </small>
        </div>

        <div class="col-md-12">
          <%= f.button t('.validate_new_password'), class: "btn btn-standard", data: {disable_with: t('.changing_password_html')} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

