<%= form_for(deal) do |f| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %>
      prohibited this deal from being saved:</h2>
        <ul>
          <% deal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :district %><br>
    <%= f.text_field :district %>
  </p>
  <p>
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </p>
  <p>
    <%= f.label :property_type, "Type" %><br>
    <%= f.text_field :property_type %>
  </p>
  <p>
    <%= f.label :occupancy %><br>
    <%= f.text_field :occupancy %>
  </p>
  <p>
    <%= f.label :amenities_description, "Description (amenities)" %><br>
    <%= f.text_area :amenities_description %>
  </p>
  <p>
    <%= f.label :location_transport_description, "Description (location)" %><br>
    <%= f.text_area :location_transport_description %>
  </p>
  <p>
    <%= f.label :surface %><br>
    <%= f.number_field :surface, in: 50..300, step: 1 %>
  </p>
  <p>
    <%= f.label :nb_bedrooms, "How many bedrooms?" %><br>
    <%= f.number_field :nb_bedrooms %>
  </p>
  <p>
    <%= f.label :nb_bedrooms, "How many bathrooms?"  %><br>
    <%= f.number_field :nb_bathrooms %>
  </p>
  <%= f.submit %>
<% end %>




