<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %>
      prohibited this deal from being saved:</h2>
        <ul>
          <% @deal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </p>
  <p>
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :occupancy %><br>
    <%= f.text_field :occupancy %>
  </p>
  <p>
    <%= f.label :yield %><br>
    <%= f.number_field :yield, step: :any %>
  </p>
  <%= f.submit %>
<% end %>
