<div class="row" id="Appercu">
  <div class="col-md-8 col-md-offset-2 text-justify">
    <h2>Vendre un bien en Viager ne devrait pas être compliqué.</h2>
    <p>Vous souhaitez extraire une partie de la valeur de votre propriété tout en restant chez vous. Le viager est une soution pour vous. Livsty répond à votre demande tout en vous évitant les déboires d'une vente en viager classique.</p>
    <p> En plus du processus long et fastidieux que repésente une vente immobilière avec des mois de négaociations, de discussions, de visites et de préparations de visites,
    la vente en viager rajoute un niveau de complexité supplémentaire. Cela se traduit par un temps d'attente de 18mois en moyenne pour le vendeur pour les rares fois ou il
    arrive à trouver un acheteur et un vendeur souvent mal accompagné par les agences immobilières, préférant se consacrer aux ventes immobilières classiques.</p>
    <p>Une fois l'épreuve de la vente passée, en tant que vendeur, vous restez exposé à plusieurs risques, notamment à un défaut de paiement de la part de l'acheteur ou un décès
    prématuré. </p>
    <p> Chez Livsty, nous avons décidé de vous éviter tous ces inconvénients. </p>
  </div>
  <div class="col-md-12">
    <h2 class="text-center">Comment est établie notre offre ?</h2><br><br>
    <div class="col-md-1 col-md-offset-2 text-center">
      <%= image_tag "seller64.png", alt: "Besoins" %>
      <p>Votre Projet.</p>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "house-plans64.png", alt: "Caractéristiques" %>
      <p>Descriptif du Bien.</p>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "tools64.png", alt: "Etat" %>
      <p>Etat du bien.</p>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "analytics64.png", alt: "Evolution" %>
      <p>Tendance du Marché.</p>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "add16.png", alt: "+" %>
    </div>
    <div class="col-md-1 text-center">
      <%= image_tag "map64.png", alt: "Localisation" %>
      <p>Géographie et comparables.</p>
    </div>
  </div>
  <div class="col-md-12">
    <ul class="nav navbar-nav pull-right">
      <li><a href="#Contact" class="btn-bar btn-default" type="">Expliquez nous votre Projet et recevez notre Offre-></a></li>
    </ul>
  </div>
</div>
