<div class="modal fade" id="edit_user">
  <%= simple_form_for [:admin, @user], remote: true do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :password %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-form" data-dismiss="modal">Close</button>
        <%= f.button :submit, class: 'btn btn-form' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
