<tr id="<%= user.id %>">
  <td>
    <%= link_to icon('pencil'), edit_admin_user_path(user), remote: true %>
    <%= link_to icon('trash'), admin_user_path(user), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
  </td>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= link_to user, [:admin, user] %></td>
  <td><%= user.updated_at.strftime('%d-%m-%Y') %></td>
  <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
  <td><%= user.current_sign_in_at.strftime('%d-%m-%Y %H:%M') if user.current_sign_in_at %></td>
  <td><%= user.sign_in_count %></td>
</tr>
