<div class="container">

  <div class='row margin-top'>
    <div class='col-xs-2'>Select User</div>
    <div class='col-xs-10'>
      <%= select_tag "users",
      options_for_select(User.external.map{ |user| [user.full_name, user.id, data: { url: snapshot_admin_user_path(user) }]}),
      class: 'chosen-select chosen-select-index' %>
    </div>
  </div>

  <hr>
  <div id='user_snapshot'></div>

  <div class="row margin-top">
    <div class="col-xs-12">
      <!-- <h4>Listing Users</h4> -->
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email address</th>
            <th>Last Updated</th>
            <th>Created</th>
            <th>Last Sign-in</th>
            <th>Count</th>
          </tr>
        </thead>

        <tbody id='users'>
          <%= render @users %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New User', '#new_user', data: { toggle: 'modal' }, class: 'btn btn-form' %>
      <%= link_to "New user with role", new_admin_user_path, class: "new btn btn-form" %>
      <div class="modal fade" id="new_user">
        <%= simple_form_for [:admin, User.new], remote: true do |f| %>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">New User</h4>
            </div>
            <div class="modal-body">
              <div class="form-inputs">
                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :email %>
                <%= f.input :password %>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-form" data-dismiss="modal">Close</button>
              <%= f.button :submit, class: 'btn btn-form' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id='remote-container'></div>

