<ul class="sidebar-list">
  <li class="sidebar-item">
    <%= link_to "Listing", listing_admin_deal_path, class: "sidebar-link active" %>
    <span class="pull-right text-check-green"><i class="fa fa-check"></i></span>
  </li>
  <li class="sidebar-item">
    <%= link_to "Pricing", pricing_admin_deal_path, class: "sidebar-link active" %>
    <% if !@deal.funding_goal.blank? %>
      <span class="pull-right text-check-green"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Timeline", period_admin_deal_path, class: "sidebar-link active" %>
    <% if !@deal.start_date.blank? && !@deal.end_date.blank?%>
      <span class="pull-right text-check-green"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Tenancy", tenancy_admin_deal_path, class: "sidebar-link active" %>
    <% if !@deal.tenants.blank?%>
    <span class="pull-right text-check-green"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Description", description_admin_deal_path, class: "sidebar-link active" %>
    <% if !@deal.amenities_description.blank? && !@deal.location_transport_description.blank?%>
      <span class="pull-right text-check-green"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Photos", photo_upload_admin_deal_path, class: "sidebar-link active" %>
    <% if !@deal.photos.blank? %>
      <span id="photo_check" class="pull-right text-check-green"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
  <li class="sidebar-item">
    <%= link_to "Location", location_admin_deal_path, class: "sidebar-link active" %>
    <% if !@deal.street.blank? %>
      <span class="pull-right text-check-green"><i class="fa fa-check"></i></span>
    <% end %>
  </li>
</ul>

<% is_ready = !@deal.active && !@deal.funding_goal.blank? && !@deal.property_value.blank? && !@deal.duration.blank? && !@deal.interest_rate.blank? && !@deal.amenities_description.blank? && !@deal.location_transport_description.blank? && !@deal.photos.blank? && !@deal.street.blank? && !@deal.start_date.blank? && !@deal.end_date.blank? && !@deal.tenants.blank? %>

<%= form_for @deal do |f| %>
  <%= f.hidden_field :active, value: true %>
  <%= f.submit "Publish", id: "publish_button", class: "btn btn-form btn-block", disabled: !is_ready %>
<% end %>
