<div class="container" style="width: 80%;">
  <div class="row margin-top">
    <div class="col-md-3">
      <ul class="sidebar-list">
        <% admins_only do %>
          <li><%= link_to "New Deal", new_admin_deal_path, class: "new btn btn-form" %></li>
        <% end %>
        <li class="sidebar-item"><%= link_to "All deals", listed_admin_deals_path, class: "sidebar-link active" %></li>
        <li class="sidebar-item"><%= link_to "All transactions", admin_investments_path, class: "sidebar-link" %></li>
        <li class="sidebar-item"><%= link_to "All users", admin_users_path, class: "sidebar-link" %></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Listings
        </div>
        <div class="panel-body">

          <% @deals.each do |deal| %>
            <div class="row">
              <div class="col-md-2">
                <!-- <-%= image_tag deal.photos[0].image.url(:thumb) if deal.photos.length > 0 %-> -->
                <%= image_tag deal.cover_photo(:thumb, cloudinary: {:width => 100, :height => 68, :crop => 'fill'}) %>
              </div>
              <div class="col-md-7">
                <h4><%="#{deal.street} #{deal.postcode} #{deal.city}" %></h4>
              </div>
              <div class="col-md-3 right">
                <%= link_to "Update", listing_admin_deal_path(deal), class: "btn btn-form" %>
              </div>
            </div>
            <hr/>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
