<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-3">
      <%= render 'deal_menu' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">

        <div class="panel-heading">
          Listing
          <span class="pull-right"><%= @deal.full_address if @deal.full_address %></span>
        </div>

        <div class="panel-body">
          <div class="container" style="width: 80%;">

            <%= form_for @deal do |f| %>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group niagara">
                  <label>Address</label>
                  <%= f.text_field :street, placeholder: "Street name", class: "form-control"%>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group niagara">
                  <label>Postcode</label>
                  <%= f.text_field :postcode, placeholder: "Postcode", class: "form-control"%>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group niagara">
                  <label>City</label>
                  <%= f.text_field :city, placeholder: "City", class: "form-control"%>
                </div>
              </div>

              <div class="col-md-4 select niagara">
                <div class="form-group niagara">
                  <label>Property Type</label>
                  <%= f.select :property_type, [["Apartment", "Apartment"], ["Maison", "Maison"], ["Autre", "Autre"]],
                  id: "property_type", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select niagara">
                <div class="form-group niagara">
                  <label>Occupancy</label>
                  <%= f.select :occupancy, [["Viager occupé", "Viager occupé"], ["Viager non occupé", "Viager non occupé"], ["Viager semi-occupé", "Viager semi-occupé"]],
                  id: "occupancy", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select niagara">
                <div class="form-group niagara">
                  <label>How many rooms?</label>
                  <%= f.select :nb_rooms, [["3", 3], ["4", 4], ["5", 5], ["6+", 6]],
                  id: "nb_rooms", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select niagara">
                <div class="form-group niagara">
                  <label>Bedrooms</label>
                  <%= f.select :nb_bedrooms, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                  id: "nb_bedrooms", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4 select niagara">
                <div class="form-group niagara">
                  <label>Bathrooms</label>
                  <%= f.select :nb_bathrooms, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],
                  id: "nb_bathrooms", prompt: "Select...", class: "form-control" %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group niagara">
                  <label>Surface</label>
                  <%= f.number_field :surface, placeholder: "m²", class: "form-control", min: 10, :step => 1 %>
                </div>
              </div>

            </div>

            <div><%= f.submit "Save", class: "btn btn-form" %></div>

            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>

  <ul class="actions-left">
    <li><%= link_to "Back to Deals",
    admin_deals_path,
    class: "back" %>
    </li>
  </ul>
  <ul class="actions">
    <% admins_only do %>
    <li><%= link_to "Delete Deal",
    admin_deal_path(@deal),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this deal?" },
    class: "delete" %>
    </li>
    <% end %>
  </ul>

</div>
