<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-3">
      <%= render 'deal_menu' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">

        <div class="panel-heading">
          Photos
          <span class="pull-right"><%= @deal.full_address if @deal.full_address %></span>
        </div>

        <div class="panel-body">
          <div class="container" style="width: 80%;">
            <div class="row">
              <div class="col-md-offset-3 col-md-6">
                <!-- uplodad here -->
                <%= form_for @deal, url: admin_deal_photos_path(@deal), method: 'post', html: {multipart: true} do |f| %>
                  <div class="row">
                    <div class="form-group niagara">
                      <span class="btn btn-default-upload btn-file text-check-green">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Select Photos
                        <%= file_field_tag "images[]", type: :file, multiple: true, id: "pictureInput" %>
                      </span>
                    </div>
                  </div>

                  <div class="text-center">
                    <%= f.submit "Add Photos", class: "btn btn-form" %>
                  </div>

                <% end %>

                <br>

                <div id="target">
                </div>

              </div>
            </div>

            <div id="photos"><%= render 'admin/photos/photos_list' %></div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
