<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-3">
      <%= render 'deal_menu' %>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">

        <div class="panel-heading">
          Pricing
          <span class="pull-right"><%= @deal.full_address if @deal.full_address %></span>
        </div>

        <div class="panel-body">
          <div class="container" style="width: 80%;">

            <%= form_for @deal do |f| %>

              <div class="row">
                <div class="form-group niagara">
                  <label>Funding goal</label>
                  <%= f.text_field :funding_goal, placeholder: "eg: 100 000€", class: "form-control" %>
                </div>
              </div>

              <div class="row">
                <div class="form-group niagara">
                  <label>Property Value (estimated) </label>
                  <%= f.text_field :property_value, placeholder: "eg: 200 000€", class: "form-control" %>
                </div>
              </div>

              <div class="row">
                <div class="form-group niagara">
                  <label>Duration</label>
                  <%= f.select(:duration, [['12 years', 12], ['13 years', 13], ['14 years', 14], ['15 years', 15], ['16 years', 16], ['17 years', 17]]) %>
                </div>
              </div>

              <div class="row">
                <div class="form-group niagara">
                  <label>Interest rate (assumption in %)</label>
                  <%= f.select(:interest_rate, [['-0,75%', -0.75], ['+0,00%', 0.00], ['+0,75%', 0.75], ['+1,50%', 1.5], ['+2,25%', 2.25], ['+3,00%', 3.00]]) %>
                </div>
              </div>

              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-form" %>
              </div>

            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


